/*base*/
/*typography*/
* {
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "EB Garamond", Georgia, serif;
  color: #FFFFFF;
  font-weight: normal;
  line-height: 1.5;
  display: inline;
}

h4 {
  font-family: "Montserrat", arial, sans-serif;
  color: #696969;
  text-transform: uppercase;
  font-size: 0.875rem;
  display: inline-block;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.inset {
  height: 2px;
  width: 50px;
  background-color: #a38a54;
  float: none;
  margin-top: 10px;
  margin-bottom: 40px;
}

.inset + p {
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 40px;
}

article > .inset + p {
  margin-bottom: 0;
}

@media all and (min-width: 40em) {
  .inset {
    float: left;
  }
  .inset + p {
    margin-left: 50px;
    padding-left: 50px;
  }
}

p {
  font-family: "EB Garamond", Georgia, serif;
  color: #FFFFFF;
  font-size: 1.050rem;
  line-height: 28px;
}

a.text__link {
  font-family: "EB Garamond", Georgia, serif;
  color: #696969;
  text-decoration: underline;
  display: inline;
  padding-left: 10px;
}

a.text__link--red {
  font-family: "EB Garamond", Georgia, serif;
  color: #a38a54;
  text-decoration: underline;
  display: inline;
}

a.text__link--red:hover {
  font-style: italic;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*components*/
/* Sass Document */
#contact {
  background: transparent;
}

input, textarea {
  color: #FFFFFF;
  display: block;
  width: 100%;
  padding: 20px 0;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #696969;
  outline: none;
  margin-top: 10px;
}

*::-webkit-input-placeholder {
  font-family: "EB Garamond", Georgia, serif;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 14px;
}

*:-moz-placeholder {
  font-family: "EB Garamond", Georgia, serif;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 14px;
}

*::-moz-placeholder {
  font-family: "EB Garamond", Georgia, serif;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 14px;
}

*:-ms-input-placeholder {
  font-family: "EB Garamond", Georgia, serif;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 14px;
}

*:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.5s ease;
}

*:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.5s ease;
}

*:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.5s ease;
}

*:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Sass Document */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* xs (1up) */
body {
  background-color: #FFFFFF;
}

.grid {
  list-style: none;
  overflow: hidden;
  max-width: 76em;
  margin: 0 auto;
}

.grid li {
  position: relative;
  position-display: inline-block;
  cursor: pointer;
}

.grid li > a > img {
  display: block;
  max-width: 100%;
  opacity: 0.7;
}

/* small (2up) */
@media all and (min-width: 27em) {
  .grid li {
    width: 50%;
    float: left;
  }
}

/* medium (3up) */
@media all and (min-width: 40em) {
  .grid li {
    width: 33.3333333%;
  }
  .grid li.wide {
    width: 66.666666%;
  }
}

/* large (4up) */
@media all and (min-width: 60em) {
  .grid li {
    width: 25%;
  }
  .grid li.wide {
    width: 50%;
  }
}

/*general*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #241f20;
  padding: 40px;
  animation: fadein 1.5s ease-out 1;
}

main {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
}

#brand {
  height: 50px;
  width: 50px;
  display: block;
  margin-bottom: 40px;
}

section {
  margin-bottom: 100px;
}

section:last-of-type {
  margin-bottom: 40px;
}

.btn {
  background: #a38a54;
  color: #241f20;
  padding: 15px 30px;
  font-family: 'Montserrat', sans-serif;
  border: 0;
  border-radius: 4px;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: block;
  letter-spacing: 2px;
  transition: all 0.5s ease-in;
  margin-top: 40px;
}

.btn:hover {
  background: #816e43;
  cursor: pointer;
}

@media all and (min-width: 27em) {
  .btn {
    max-width: 250px;
  }
}

article {
  display: none;
  margin-top: 40px;
  padding: 1px 0;
}

nav {
  margin-bottom: 40px;
}

i.fa {
  font-size: 1.250rem;
  color: #a38a54;
  padding-right: 15px;
  transition: color 0.5s ease-in;
}

i.fa:last-of-type {
  padding-right: 0;
}

i.fa:hover {
  color: #816e43;
  cursor: pointer;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
