/*base*/
@import base/colors
@import base/typography

/*components*/
@import components/form
@import components/gallery

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	margin: 0
	padding: 0
	
body
	height: 100%
	padding: 40px
	animation: fadein 1.5s ease-out 1
	background-color: $black
main
	width: 100%
	max-width: 840px
	margin: 0 auto

#brand
	display: inline-block
	width: 50px
	height: 50px
	margin-bottom: 40px
	
section
	margin-bottom: 100px
	&:last-of-type
		margin-bottom: 40px
	
.btn,
.btn:visited,
input[class="btn"],
input[class="btn"]:visited
	font-family: 'Montserrat', sans-serif
	font-size: 1rem
	display: block
	margin-top: 40px
	padding: 15px 30px
	cursor: pointer
	transition: background-color 0.5s ease-in
	text-align: center
	text-decoration: none
	letter-spacing: 2px
	text-transform: uppercase
	color: $black
	border: 0
	border-radius: 4px
	background: $primary
	-webkit-appearance: none
	@media (min-width: 27em)
		max-width: 250px
	&:hover,
	&:active,
	&:focus
		cursor: pointer
		background: darken($primary, 10%)
		outline: none
		-webkit-appearance: none
	
article
	margin-top: 40px
	margin-bottom: 10px
	padding: 1px 0
	
.is-hidden
	display: none

nav
	margin: 0 auto 40px
	text-align: center
	@media (min-width: 27em)
		text-align: left

a,
a:visited,
a:hover,
a:active,
a:focus
	/*text-decoration: none*/
	outline: none

a i.fa,
a i.fa:hover,
a i.fa:active,
a i.fa:focus
	font-size: 1.250rem
	display: inline-block
	margin-right: 15px
	transition: color 0.5s ease-in
	text-decoration: none
	color: $primary
	border: none
	outline: none
	&:hover
		cursor: pointer
		color: darken($primary, 10%)
		
a.icon
	text-decoration: none
	
img
	border: 0
	
.back-to-top
	line-height: 50px
	position: fixed
	right: 20px
	bottom: 20px
	width: 50px
	height: 50px
	cursor: pointer
	transition: background-color 0.5s ease-in
	text-align: center
	color: $black
	border-radius: 100%
	background-color: $primary
	box-shadow: 0px 0px 20px $black
	@media(min-width: 27em)
		right: 40px
		bottom: 40px
	&:hover
		background-color: darken($primary, 10%)
	&:active
		transform: scale(0.97)

@keyframes fadein
	0%
		opacity: 0
	100%
		opacity: 1
		
.slideLeft
	visibility: visible !important
	animation: slideLeft 1s ease-in-out
	-webkit-animation: slideLeft 1s ease-in-out
	-moz-animation: slideLeft 1s ease-in-out
	
@keyframes slideLeft
	0%
		transform: translateX(150%)
	50%
		transform: translateX(-8%)
	65%
		transform: translateX(4%)
	80%
		transform: translateX(-4%)
	95%
		transform: translateX(2%)		
	100%
		transform: translateX(0%)

@-webkit-keyframes slideLeft
	0%
		-webkit-transform: translateX(150%)
	50%
		-webkit-transform: translateX(-8%)
	65%
		-webkit-transform: translateX(4%)
	80%
		-webkit-transform: translateX(-4%)
	95%
		-webkit-transform: translateX(2%)		
	100%
		-webkit-transform: translateX(0%)
