/*base*/
/*typography*/
* {
  font-smooth: always;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h4, p, a, .error-pg-heading {
  font-family: "EB Garamond", Georgia, serif;
}

h1 {
  font-weight: normal;
  line-height: 1.5;
  display: inline;
  color: #FFFFFF;
}

h4 {
  font-family: "Montserrat", arial, sans-serif;
  font-size: 0.875rem;
  display: inline-block;
  margin-bottom: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #696969;
}

.lrg-intro {
  display: block;
  margin-top: -80px;
  margin-bottom: 40px;
  font-size: 10rem;
  color: #FFFFFF;
}

.inset {
  float: none;
  width: 50px;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 40px;
  background-color: #a38a54;
}

.inset + p {
  margin-bottom: 40px;
  margin-left: 0;
  padding-left: 0;
}

article > .inset + p {
  margin-bottom: 0;
}

@media all and (min-width: 40em) {
  .inset {
    float: left;
  }
  .inset + p {
    margin-left: 50px;
    padding-left: 50px;
  }
}

p {
  font-size: 1.050rem;
  line-height: 28px;
  color: #FFFFFF;
}

a.text__link,
a.text__link--primary {
  display: inline;
  text-decoration: underline;
}

a.text__link:hover,
a.text__link--primary:hover {
  font-style: italic;
}

a.text__link {
  padding-left: 10px;
  color: #696969;
}

a.text__link--primary {
  color: #a38a54;
}

/*components*/
/* Sass Document */
input, input:visited, input:hover, input:active, input:focus,
textarea, textarea:visited, textarea:hover, textarea:active, textarea:focus {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 20px 0;
  font-size: 1rem;
  font-family: "EB Garamond", Georgia, serif;
  color: #FFFFFF;
  border: 0;
  border-bottom: 2px solid #696969;
  outline: none;
  background-color: transparent;
}

*::-webkit-input-placeholder {
  font-family: "EB Garamond", Georgia, serif;
  font-size: 1rem;
  line-height: 14px;
  color: #FFFFFF;
}

*:-moz-placeholder {
  font-family: "EB Garamond", Georgia, serif;
  font-size: 1rem;
  line-height: 14px;
  color: #FFFFFF;
}

*::-moz-placeholder {
  font-family: "EB Garamond", Georgia, serif;
  font-size: 1rem;
  line-height: 14px;
  color: #FFFFFF;
}

*:-ms-input-placeholder {
  font-family: "EB Garamond", Georgia, serif;
  font-size: 1rem;
  line-height: 14px;
  color: #FFFFFF;
}

*:focus::-webkit-input-placeholder {
  transition: opacity 0.5s ease;
  opacity: 0;
}

*:focus::-moz-placeholder {
  transition: opacity 0.5s ease;
  opacity: 0;
}

*:focus:-moz-placeholder {
  transition: opacity 0.5s ease;
  opacity: 0;
}

*:focus:-ms-input-placeholder {
  transition: opacity 0.5s ease;
  opacity: 0;
}

/* xs (1up) */
.grid {
  overflow: hidden;
  max-width: 76em;
  margin: 0 auto;
  list-style: none;
}

.grid li {
  position: relative;
  cursor: pointer;
  cursor-display: inline-block;
}

.grid li > a > img {
  display: block;
  max-width: 100%;
  opacity: 0.7;
}

/* small (2up) */
@media all and (min-width: 27em) {
  .grid li {
    float: left;
    width: 50%;
  }
}

/* medium (3up) */
@media all and (min-width: 40em) {
  .grid li {
    width: 33.3333333%;
  }
}

/* large (4up) */
@media all and (min-width: 60em) {
  .grid li {
    width: 25%;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  padding: 40px;
  animation: fadein 1.5s ease-out 1;
  background-color: #241f20;
}

main {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
}

#brand {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-bottom: 40px;
}

section {
  margin-bottom: 100px;
}

section:last-of-type {
  margin-bottom: 40px;
}

.btn,
.btn:visited,
input[class="btn"],
input[class="btn"]:visited {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  display: block;
  margin-top: 40px;
  padding: 15px 30px;
  cursor: pointer;
  transition: all 0.5s ease-in;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #241f20;
  border: 0;
  border-radius: 4px;
  background: #a38a54;
  -webkit-appearance: none;
}

@media (min-width: 27em) {
  .btn,
  .btn:visited,
  input[class="btn"],
  input[class="btn"]:visited {
    max-width: 250px;
  }
}

.btn:hover,
.btn:active,
.btn:focus,
.btn:visited:hover,
.btn:visited:active,
.btn:visited:focus,
input[class="btn"]:hover,
input[class="btn"]:active,
input[class="btn"]:focus,
input[class="btn"]:visited:hover,
input[class="btn"]:visited:active,
input[class="btn"]:visited:focus {
  cursor: pointer;
  background: #816e43;
  outline: none;
  -webkit-appearance: none;
}

article {
  margin-top: 40px;
  padding: 1px 0;
}

.is-hidden {
  display: none;
}

nav {
  margin: 0 auto 40px;
  text-align: center;
}

@media (min-width: 27em) {
  nav {
    text-align: left;
  }
}

a {
  text-decoration: none;
}

a:active,
a:focus {
  outline: none;
}

a i.fa,
a i.fa:hover,
a i.fa:active,
a i.fa:focus {
  font-size: 1.250rem;
  display: inline-block;
  margin-right: 15px;
  transition: color 0.5s ease-in;
  text-decoration: none;
  color: #a38a54;
  border: none;
  outline: none;
}

a i.fa:hover,
a i.fa:hover:hover,
a i.fa:active:hover,
a i.fa:focus:hover {
  cursor: pointer;
  color: #816e43;
}

.back-to-top {
  line-height: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.5s ease-in;
  text-align: center;
  color: #241f20;
  border-radius: 100%;
  background-color: #a38a54;
  box-shadow: 0px 0px 20px #241f20;
}

@media (min-width: 27em) {
  .back-to-top {
    right: 40px;
    bottom: 40px;
  }
}

.back-to-top:hover {
  background-color: #816e43;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slideLeft {
  visibility: visible !important;
  animation: slideLeft 1s ease-in-out;
  -webkit-animation: slideLeft 1s ease-in-out;
  -moz-animation: slideLeft 1s ease-in-out;
}

@keyframes slideLeft {
  0% {
    transform: translateX(150%);
  }
  50% {
    transform: translateX(-8%);
  }
  65% {
    transform: translateX(4%);
  }
  80% {
    transform: translateX(-4%);
  }
  95% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
  }
  50% {
    -webkit-transform: translateX(-8%);
  }
  65% {
    -webkit-transform: translateX(4%);
  }
  80% {
    -webkit-transform: translateX(-4%);
  }
  95% {
    -webkit-transform: translateX(2%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
