/* Sass Document */
#contact
	background: transparent

input, textarea
	color: $white
	display: block
	width: 100%
	padding: 20px 0
	background-color: transparent
	border: 0
	border-bottom: 2px solid $drk-gray
	outline: none
	margin-top: 10px
	

*::-webkit-input-placeholder
	color: $white
	font-family: 'EB Garamond', Georgia, serif
	font-size: 1rem
	line-height: 14px
	opacity: 1
	transition: opacity 0.5s ease
*:-moz-placeholder
	color: $white
	font-family: 'EB Garamond', Georgia, serif
	font-size: 1rem
	line-height: 14px
	line-height: normal
	opacity: 1
	transition: opacity 0.5s ease
*::-moz-placeholder
	color: $white
	font-family: 'EB Garamond', Georgia, serif
	font-size: 1rem
	line-height: 14px
	line-height: normal
	opacity: 1
	transition: opacity 0.5s ease
*:-ms-input-placeholder
	color: $white
	font-family: 'EB Garamond', Georgia, serif
	font-size: 1rem
	line-height: 14px
	line-height: normal
	opacity: 1
	transition: opacity 0.5s ease

*:focus::-webkit-input-placeholder
	opacity: 0
	transition: opacity 0.5s ease
*:focus::-moz-placeholder
	opacity: 0
	transition: opacity 0.5s ease
*:focus:-moz-placeholder
	opacity: 0
	transition: opacity 0.5s ease
*:focus:-ms-input-placeholder
	opacity: 0
	transition: opacity 0.5s ease
