/* Sass Document */
input, input:visited, input:hover, input:active, input:focus,
textarea, textarea:visited, textarea:hover, textarea:active, textarea:focus
	display: block
	width: 100%
	margin-top: 10px
	padding: 20px 0
	font-size: 1rem
	font-family: "EB Garamond", Georgia, serif
	color: $white
	border: 0
	border-bottom: 2px solid $secondary
	outline: none
	background-color: transparent
	
*::-webkit-input-placeholder
	font-family: "EB Garamond", Georgia, serif
	font-size: 1rem
	line-height: 14px
	color: $white
	
*:-moz-placeholder
	font-family: "EB Garamond", Georgia, serif
	font-size: 1rem
	line-height: 14px
	color: $white
	
*::-moz-placeholder
	font-family: "EB Garamond", Georgia, serif
	font-size: 1rem
	line-height: 14px
	color: $white

*:-ms-input-placeholder
	font-family: "EB Garamond", Georgia, serif
	font-size: 1rem
	line-height: 14px
	color: $white

*:focus::-webkit-input-placeholder
	transition: opacity 0.5s ease
	opacity: 0
*:focus::-moz-placeholder
	transition: opacity 0.5s ease
	opacity: 0
*:focus:-moz-placeholder
	transition: opacity 0.5s ease
	opacity: 0
*:focus:-ms-input-placeholder
	transition: opacity 0.5s ease
	opacity: 0