/* xs (1up) */
.grid
	overflow: hidden
	max-width: 76em
	margin: 0 auto
	list-style: none

.grid li
	position: relative
	cursor: pointer
	display: inline-block
	
.grid li > a > img
	display: block
	max-width: 100%
	opacity: 0.7
	
@media all and (max-width: 27em)
	.grid li a
		display: inline-block
		margin-bottom: -4px

/* small (2up) */
@media all and (min-width: 27em)
	.grid li
		float: left
		width: 50%

/* medium (3up) */
@media all and (min-width: 40em)
	.grid li
		width: 33.3333333%

/* large (4up) */
@media all and (min-width: 60em)
	.grid li
		width: 25%

